/* General */

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #1abc9c;
}

a:hover {
  color: #16a085;
}

a,
img,
input {
  /*transition*/
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

body {
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: normal;
  font-family: "Public Sans", sans-serif;
}

/* Header */
#top-header {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 30px 0;
}

.header-home {
  background: rgb(51, 84, 99);
}

.header-home .navigation a {
  color: #fff;
}

/* Navigation */

.navigation {
  position: relative;
  float: right;
  padding-right: 1.5em;
}

.navigation ul li {
  position: relative;
  display: inline;
  float: left;
}

.navigation a {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 1.5px;
  display: block;
  margin-left: 25px;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  color: #fff;
}

.navigation ul li a:hover {
  color: rgb(148, 171, 182);
}

/* Parallax */

.parallax-section {
  z-index: -1;
  clear: both;
  background-image: url(../img/background.jpg);
  background-repeat: contain;
  background-attachment: fixed;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h2 {
  margin-top: 40px;
  font-size: 6em;
  font-family: "Black Ops One", cursive;
  line-height: 1em;
  letter-spacing: 4px;
  color: white;
  font-weight: bolder;
}

.mbti-content {
  margin: 2em 4em 1em 4em;
  max-width: 1000px;
  padding: 10px 30px 10px 30px;
  background-color: #e1edebc9;
  color: rgb(52, 52, 52);
}

.mbti-content p {
  margin-bottom: 15px;
  margin-top: 15px;
}

.curveUpColor,
.curveDownColor {
  fill: #fff;
  stroke: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.curveUpColor {
  margin-top: -100px;
}
.curveDownColor {
  margin-bottom: 100px;
}

/* Main */
.type {
  text-align: center;
  height: auto;
  margin-top: 5em;
}

.type h1 {
  font-family: "Black Ops One", cursive;
  font-size: 3em;
  font-weight: bolder;
  margin: 1em 0 0.8em 0;
  font-style: italic;
  color: rgb(52, 52, 52);
}

#header {
  font-style: normal;
  font-size: 4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Quotes */
.slider {
  padding-top: 50px;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  transition: 1s;
  width: 20%;
}

.slide.description {
  width: 800px;
  height: 500px;
}

.description h3 {
  margin-bottom: 1.2em;
}

.description p {
  margin-bottom: 0.8em;
  color: rgb(52, 52, 52);
}

/* manual navigation */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid rgb(223, 111, 65);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background: rgb(220, 154, 71);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* auto navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 300px;
}

.navigation-auto div {
  border: 2px solid rgb(223, 111, 65);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: rgb(220, 154, 71);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: rgb(220, 154, 71);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: rgb(220, 154, 71);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: rgb(220, 154, 71);
}

/* Test */
.test {
  height: 90vh;
  background-color: rgb(230, 154, 71);
}

.taketest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 4em;
  margin-right: 4em;
}

.taketest img {
  padding-top: 100px;
  margin-left: 4em;
  width: 500px;
  height: 550px;
}

.test-btn {
  background-color: rgb(223, 111, 65);
  height: 80px;
  width: 280px;
  margin: 0 auto;
  margin-top: 280px;
  border-radius: 40px;
}

.taketest a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-size: 25px;
}

.test-btn:hover {
  background-color: rgb(222, 92, 40);
}

/* cards */

.typecards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45vh 45vh;
  column-gap: 3em;
  row-gap: 3em;
  margin: 4em 6em 5em 6em;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(130, 105, 163);
  color: #fff;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(220, 210, 236);
  color: rgb(52, 52, 52);
}

.pic {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-front h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.card-back p {
  line-height: 1.5em;
  margin: 2.5em 2.5em 0 2.5em;
  text-align: left;
}

.sw-btn {
  width: 110px;
  height: 30px;
  margin-left: 2.5em;
  border-radius: 25px;
  background-color: rgb(130, 105, 163);
  color: #fff;
}

.strength {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  margin-top: 25px;
}

.weakness {
  display: flex;
  flex-direction: row;
}

.strength p,
.weakness p {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding-left: 1em;
}

.diplomats {
  height: auto;
  background-color: #e1edeb;
  padding-bottom: 4em;
}

#dip {
  padding-top: 180px;
  color: rgb(101, 163, 118);
  text-shadow: 2px 2px rgb(209, 229, 217);
}

.dip-color-front,
.dip-btn {
  background-color: rgb(101, 163, 118);
}

.dip-color-back {
  background-color: rgb(209, 229, 217);
}

#sen {
  color: rgb(100, 150, 177);
  text-shadow: 2px 2px rgb(221, 233, 239);
}

.sen-color-front,
.sen-btn {
  background-color: rgb(100, 150, 177);
}

.sen-color-back {
  background-color: rgb(221, 233, 239);
}

#exp {
  color: rgb(213, 172, 69);
  text-shadow: 2px 2px rgb(245, 234, 213);
}

.explorers {
  height: auto;
  background-color: rgb(245, 239, 225);
  padding-bottom: 4em;
  padding-top: 150px;
}

.exp-color-front,
.exp-btn {
  background-color: rgb(213, 172, 69);
}

.exp-color-back {
  background-color: rgb(245, 234, 210);
}

/* Meme */
.meme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#image_shower {
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 450px;
}

button {
  border-radius: 20px;
  width: fit-content;
  height: 40px;
  border: none;
  background-color: rgb(220, 154, 71);
  color: #fff;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  margin-bottom: 5em;
}

/* Source */
.accordion {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(223, 111, 65);
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 15px 0 15px 0;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.source::after {
  content: "+";
  font-size: 1.7rem;
  position: absolute;
  right: 1rem;
}

.source.active::after {
  content: "-";
}

.source-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.source-content {
  border-top: 1px solid;
  margin-top: 15px;
  padding-top: 15px;
}

/* Footer */

footer {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgb(51, 84, 99);
}

footer p {
  color: white;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* Media Query */

@media only screen and (max-width: 1200px) {
  .typecards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
    column-gap: 3em;
    row-gap: 3em;
    margin: 4em 3em 5em 3em;
  }
}

@media only screen and (max-width: 900px) {
  .parallax-section {
    height: 110vh;
  }

  .content h2 {
    margin-top: 40px;
    font-size: 4.5em;
    line-height: 1em;
  }

  .mbti-content {
    margin: 2em 4em 1em 4em;
    font-size: 0.9em;
    max-width: 800px;
    padding: 10px 30px 10px 30px;
  }

  .mbti-content p {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .slider {
    width: 550px;
    height: 500px;
  }

  .navigation-manual {
    position: absolute;
    width: 550px;
    margin-top: 380px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    width: 550px;
    margin-top: 380px;
    display: flex;
    justify-content: center;
  }

  .description h3 {
    margin-bottom: 1.2em;
    margin-left: 2em;
  }

  .description p {
    margin-bottom: 0.8em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .taketest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
  }

  .taketest img {
    padding-top: 100px;
    margin-left: 1em;
    width: 400px;
    height: 400px;
  }

  .taketest a {
    font-size: 20px;
  }

  .typecards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45vh 45vh 45vh 45vh;
    row-gap: 2em;
    margin: 3em 3em 5em 3em;
  }

  .type h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 1em 0 0.8em 0;
  }

  #header {
    font-style: normal;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .content h2 {
    margin-top: 40px;
    font-size: 3.5em;
    line-height: 1em;
  }

  .mbti-content {
    margin: 2em 2em 1em 2em;
    font-size: 0.9em;
    max-width: 800px;
    padding: 10px 30px 10px 30px;
  }

  .mbti-content p {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .description h3 {
    margin-bottom: 1.2em;
    margin-left: 2em;
  }

  .description p {
    margin-bottom: 0.8em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 700px;
  }

  .taketest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
  }

  .taketest img {
    display: none;
  }

  .taketest a {
    font-size: 20px;
  }

  .typecards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45vh 45vh 45vh 45vh;
    row-gap: 2em;
    margin: 3em 3em 5em 3em;
  }

  .type h1 {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 1em 0 0.8em 0;
  }

  #header {
    font-style: normal;
    font-size: 3em;
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .card-back p {
    line-height: 1.4em;
    font-size: 0.95em;
    margin: 2em 2em 0 2em;
  }

  .sw-btn {
    width: 100px;
    height: 30px;
    margin-left: 2em;
  }

  .strength p,
  .weakness p {
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    padding-left: 1em;
  }
}
